<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886262623767-rjk7lnbggsnqn70mtf28ataqq7gpv11d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886262623767-rjk7lnbggsnqn70mtf28ataqq7gpv11d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>886262623767-ld3npdf21sa37oct0uag58q6qr585pop.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAncGspzdETqKhOBMtzHZPazeLcihnSRLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>886262623767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.foodacrna</string>
	<key>PROJECT_ID</key>
	<string>fooda-crna</string>
	<key>STORAGE_BUCKET</key>
	<string>fooda-crna.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886262623767:ios:ca5a14ea5d9f5f69adf652</string>
</dict>
</plist>